## While Loop

1- Declare an initialization value first 
 
2- Write the while condition
 
3- Set of statements to execute
 
4- End the program with an input statement which asks the user about the continuation of the loop.

In [ ]:
keep_going = 'y'

while keep_going == 'y':    
    sub_1 = int(input("Enter marks "))
    sub_2 = int(input("Enter marks "))
    sub_3 = int(input("Enter marks "))
    
    average = (sub_1 + sub_2 + sub_3)/3
    
    print(f'Average = {average:.2f}')
    
    keep_going = input("""Do you want to calculate another average. 
                            if yes then press y  """)

Enter marks 45
Enter marks 45
Enter marks 67
Average = 52.33

In [13]:
keep_going = 'x'

while keep_going == 'x':
    num_1 = float(input("enter any number "))
    num_2 = float(input("enter any number "))
    
    Sum = num_1 + num_2
    print(f'Sum is: {Sum}')
    
    keep_going

enter any number 56
enter any number 45
Sum is: 101.0
Do you want to perform the operation again?
                       if Yes press x x
enter any number 56
enter any number 4
Sum is: 60.0
Do you want to perform the operation again?
                       if Yes press x y

In [1]:



product = 0

while product < 100:
    
    number = int(input("enter the number "))  
    
    product = number * 10
    
    print(f'the product is: {product}')
    
    if product < 100:
        print("Product is less than 100 so the loop iterates again ")
    else:
        print("the product is greater than 100 so the loop exits here ")

enter the number 6
the product is: 60
Product is less than 100 so the loop iterates again
enter the number 70
the product is: 700
the product is greater than 100 so the loop exits here

In [5]:
correct = '5656'

password = input("enter the password ")

while password != correct:
    print("you have entered an incorrect password. Please try again! ")
    
    password = input("enter the password ")

print("Welcome")

enter the password 78
you have entered an incorrect password. Please try again!
enter the password 90
you have entered an incorrect password. Please try again!
enter the password 5656
Welcome

In [2]:
 MAX_TEMP = 102.5

 # Get the substance's temperature.
 temperature = float(input("Enter the substance's Celsius temperature: "))

 # As long as necessary, instruct the user to
 # adjust the thermostat.
while temperature > MAX_TEMP:
    print('The temperature is too high.')
    print('Turn the thermostat down and wait')
    print('5 minutes. Then take the temperature')
    print('again and enter it.')
    temperature = float(input('Enter the new Celsius temperature: '))

 # Remind the user to check the temperature again
 # in 15 minutes.
print('The temperature is acceptable.')
print('Check it again in 15 minutes.')

Enter the substance's Celsius temperature: 104
The temperature is too high.
Turn the thermostat down and wait
5 minutes. Then take the temperature
again and enter it.
Enter the new Celsius temperature: 103.2
The temperature is too high.
Turn the thermostat down and wait
5 minutes. Then take the temperature
again and enter it.
Enter the new Celsius temperature: 101
The temperature is acceptable.
Check it again in 15 minutes.

In [ ]:

# Similar example with student scores

more_students = "y"

while more_students == "y":
    s_name = input("Enter the student's name ")
    s_score = float(input("Enter the student's scores"))
    w_score = (s_score/10) * 0.05
    print("The weightage of quiz scores for ", s_name, "is : ", format(w_score,'.2f'))
    more_students = input("Press y if you want to enter more scores")

In [1]:
##Print the first 10 integers 

num = 1

while num <= 10:
    print(num)
    num = num+1

1
2
3
4
5
6
7
8
9
10

In [2]:
## print first 10 integers with their squares 
num = 1
print("Numbers\t\tSquares")
while num <= 10:
    print(num,"\t\t",num**2)
    num = num+1

Numbers		Squares
1 		 1
2 		 4
3 		 9
4 		 16
5 		 25
6 		 36
7 		 49
8 		 64
9 		 81
10 		 100

In [2]:
number = 1
total = 0
while number > 0:
    number = float(input("Enter positive number to continue and negative number to quit "))
    if number > 0:
        total =total + number
print(f'total= {total:.0f}')

Enter positive number to continue and negative number to quit 8
Enter positive number to continue and negative number to quit 6
Enter positive number to continue and negative number to quit 9
Enter positive number to continue and negative number to quit -8
total= 23

In [6]:
budget = float(input("enter the amount of budget for a month "))
keep_going = "y"
total_expense = 0
while keep_going == "y":
    expense = float(input("enter the expense for a month "))
    
    total_expense = total_expense + expense 
    print(f'total expense uptill now is {total_expense}')
    
    keep_going = input("if there is any other budget then press y ")

if budget > total_expense:
    print("You are under budget ")
elif budget < total_expense:
    print("you are over budget ")
else:
    print("your are exact on budget")

enter the amount of budget for a month 100
enter the expense for a month 40
total expense uptill now is 40.0
if there is any other budget then press y y
enter the expense for a month 40
total expense uptill now is 80.0
if there is any other budget then press y y
enter the expense for a month 50
total expense uptill now is 130.0
if there is any other budget then press y h
you are under budget

In [2]:
correct_password ='5656'

password = input("enter password ")

while password != correct_password:
    print("incorrect password. Enter the correct password  ")
    
    password = input("enter correct password ")
    
print("welcome ")

enter password 7878
incorrect password. Enter the correct password
enter correct password 5656
welcome

## FOR LOOP

Count-controlled loop.

Loop iterates a specific number of times.

When the statement executes, it iterates once for each item in the sequence

In [3]:
for num in [1, 2, 3, 4, 5]:
    print(num)

1
2
3
4
5

In [4]:
for num in [1, 3, 5, 7, 9]:
    print(num)

1
3
5
7
9

In [5]:
for names in ['khadija','Aisha','Maha']:
    print(names)

khadija
Aisha
Maha

In [9]:
for x in range(5):
    print('how are you? ')

how are you?
how are you?
how are you?
how are you?
how are you?

In [10]:
for x in range(1,5):
    print('how are you? ')

how are you?
how are you?
how are you?
how are you?

In [11]:
for number in range(1, 11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [13]:
for number in range(2,11,2):
    print(number)

2
4
6
8
10

In [15]:
for number in [1,3,5]:
    x = number/2
    print(x)

0.5
1.5
2.5

In [13]:

for number in range(1, 11):
    square = number**2
    print(f'{number}\t{square}')

Numbers	Squares
1	1
2	4
3	9
4	16
5	25
6	36
7	49
8	64
9	81
10	100

In [3]:
total = 0  

for x in range(10):
    number = int(input(f"Enter number {x}: "))
    total =total+number

print(f"The total of the 10 numbers entered is: {total}")

Enter number 0: 4
Enter number 1: 5
Enter number 2: 6
Enter number 3: 7
Enter number 4: 8
Enter number 5: 4
Enter number 6: 2
Enter number 7: 4
Enter number 8: 2
Enter number 9: 56
The total of the 10 numbers entered is: 98

In [5]:
table = 7

for t in range(1,11):
    result = table * t
    print(f'{table} * {t} = {result}')

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [6]:
# print(f'KPH\tMPH')
for speed in range(60,130,10):
    MPH = speed * 0.6214
    print(f'{speed}\t{MPH:.1f}')

60	37.3
70	43.5
80	49.7
90	55.9
100	62.1
110	68.4
120	74.6

## format string

In [5]:
name = 'aisha'
age= 24

print("my name is {} and i am {} years old".format(name,age))
print("{quantity} apples cost {price} dollars".format(quantity=3,price=5))

my name is aisha and i am 24 years old
3 apples cost 5 dollars

In [2]:
n = int(input("enter number from 1 to 8 "))

while n <= 8:
    cube = n **3
    print(f"cube of  {n} is {cube}")
    n+=1

enter number from 1 to 8 1
cube of  1 is 1
cube of  2 is 8
cube of  3 is 27
cube of  4 is 64
cube of  5 is 125
cube of  6 is 216
cube of  7 is 343
cube of  8 is 512

In [6]:
quotient = 0

# number = int(input("enter the number other than 0"))

while quotient  <20:
    number = int(input("enter the number"))
    
    quotient = number // 10
    
    print("the quotient is ",quotient)
    
    if quotient < 20:
        print("start the loop again ")
    else:
        print("break")

enter the number other than 00
the quotient is  0
start the loop again
enter the number other than 070
the quotient is  7
start the loop again
enter the number other than 0700
the quotient is  70
break

In [1]:
for number in range(10, 15,-1):
    print(number)

In [6]:
for i in range(-20,0):
    print(i)

-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [2]:
for num in range(5, 0,-1):
    print(num)

5
4
3
2
1

In [9]:
for i in range(10,6,-1):
    print(i)

10
9
8
7

Sentinels: A special value use to end the sequence of values. Should be a distinct value. 

Input validation loop: error occurs when user enters wrong data as an input leading to wrong reults.

In [12]:
total = 0  

for x in range(10):
    number = int(input(f"Enter number {x}: "))
    while number < 0:
        print("You have entered a negative number ")
        number= int(input(f"Enter number {x}: "))
    total =total+number

print(f"The total of the 10 numbers entered is: {total}")

Enter number 0: 4
Enter number 1: 5
Enter number 2: 6
Enter number 3: 7
Enter number 4: 3
Enter number 5: -10
You have entered a negative number
Enter number 5: 5
Enter number 6: 4
Enter number 7: -6
You have entered a negative number
Enter number 7: 5
Enter number 8: 3
Enter number 9: 7
The total of the 10 numbers entered is: 49

In [ ]:
total = 0

for i in range(1,11):
    num= int(input(f'enter number {i}: '))
    total +=num
print("running total is ",total)

In [ ]:
total =0
for i in range(1,11):
    num = int(input(f'enter number {i} '))
    total += num
print(total)

## Nested Loop: A loop that is inside another loop is called a nested loop.

In [1]:
for x in range(4):
    for y in range(2):
        print(f'for each value of x:{x}, y = {y}')

for each value of x:0, y = 0
for each value of x:0, y = 1
for each value of x:1, y = 0
for each value of x:1, y = 1
for each value of x:2, y = 0
for each value of x:2, y = 1
for each value of x:3, y = 0
for each value of x:3, y = 1

In [5]:
for x in range(4):
    for y in range(3):
        for z in range(2):
            print(f'Outer loop x:{x}. middle loop y:{y},inner loop z = {z}')

Outer loop x:0. middle loop y:0,inner loop z = 0
Outer loop x:0. middle loop y:0,inner loop z = 1
Outer loop x:0. middle loop y:1,inner loop z = 0
Outer loop x:0. middle loop y:1,inner loop z = 1
Outer loop x:0. middle loop y:2,inner loop z = 0
Outer loop x:0. middle loop y:2,inner loop z = 1
Outer loop x:1. middle loop y:0,inner loop z = 0
Outer loop x:1. middle loop y:0,inner loop z = 1
Outer loop x:1. middle loop y:1,inner loop z = 0
Outer loop x:1. middle loop y:1,inner loop z = 1
Outer loop x:1. middle loop y:2,inner loop z = 0
Outer loop x:1. middle loop y:2,inner loop z = 1
Outer loop x:2. middle loop y:0,inner loop z = 0
Outer loop x:2. middle loop y:0,inner loop z = 1
Outer loop x:2. middle loop y:1,inner loop z = 0
Outer loop x:2. middle loop y:1,inner loop z = 1
Outer loop x:2. middle loop y:2,inner loop z = 0
Outer loop x:2. middle loop y:2,inner loop z = 1
Outer loop x:3. middle loop y:0,inner loop z = 0
Outer loop x:3. middle loop y:0,inner loop z = 1
Outer loop x:3. middle loop y:1,inner loop z = 0
Outer loop x:3. middle loop y:1,inner loop z = 1
Outer loop x:3. middle loop y:2,inner loop z = 0
Outer loop x:3. middle loop y:2,inner loop z = 1

In [ ]:
##### Calculate the average of test scores of each student

total_students = int(input("enter total number of students "))

total_num_test = int(input("enter total number of test "))

for students in range(total_students):
    print("calculating average for student no : ",students)
    total = 0
    for num_test in range(total_num_test):
        print("enter score of test number ",num_test)
        score = float(input(": "))
        total = total +score 
    average = total/total_num_test
    print(f'average for student no {students} is {average:.2f}')

In [2]:
total_students = 3
total_num_test = 3

for students in range(total_students):
    print(f'calulating average of student no: {students +1}')
    print('------------------------------------------')
    total=0
    for num_test in range(total_num_test):
        print(f'score of test no: {num_test+1}',end='')
        score = float(input(": "))
        total +=score
        
    average = total/total_num_test
    
    print(f'average of student no  {students +1} is {average:.2f}')
    print()

calulating average of student no: 1
------------------------------------------
score of test no: 1: 56
score of test no: 2: 45
score of test no: 3: 45
average of student no  1 is 48.67

calulating average of student no: 2
------------------------------------------
score of test no: 1: 67
score of test no: 2: 54
score of test no: 3: 67
average of student no  2 is 62.67

calulating average of student no: 3
------------------------------------------
score of test no: 1: 56
score of test no: 2: 78
score of test no: 3: 90
average of student no  3 is 74.67

In [9]:
for i in range(15):
    for j in range(10):
        print("#",end='')
    print()

##########
##########
##########
##########
##########
##########
##########
##########
##########
##########
##########
##########
##########
##########
##########

In [6]:
 for i in range(3):
        print('*',end='')

***

In [2]:
 for i in range(3):
        for j in range(3):
            print('*',end='')
        print()

***
***
***

In [21]:
num =1
for x in range(3):
    print(num, end=' ')
    num+=1

1 2 3

In [22]:
number =1
for x in range(3):
    for y in range(3):
        print(number, end=' ')
        number+=1
    print()

1 2 3
4 5 6
7 8 9

In [3]:
print("*",end='\t')
print("#")

*	#

In [27]:
for i in range(3):
    for j in range(3):
        print("*",end='')
    print()

***
***
***

In [22]:
num = 1
for i in range(3):
    for j in range(3):
        print(num,end=' ')
        num+=1
    print()

1 2 3
4 5 6
7 8 9

In [ ]:

for students in range(3):
    print(f'calculating avg of student no: {students+1}')
    total = 0
    
    for num_test in range(3):
        print(f'score of test no {num_test+1}',end=' ')
        score= float(input(':'))
        
        total +=score 
    average = total/3
    print(f'average student is {average:.2f}')
    print()

calculating avg of student no: 1
score of test no 1 :45
score of test no 2 :76
score of test no 3 :65
average student is 62.00

calculating avg of student no: 2
score of test no 1

In [3]:
# Initialize a variable to store the password
password = ""

# Use a while loop for input validation
while True:
    # Ask the user to enter a password
    password = input("Enter a 4-digit password: ")
    
    # Check if the password is exactly 4 digits long and consists of only digits
    if len(password) == 4 and password.isdigit():
        print("Password accepted.")
        break
    else:
        print("Error: Password must be a 4-digit number.")

Enter a 4-digit password: fgtr
Error: Password must be a 4-digit number.
Enter a 4-digit password: 5643
Password accepted.